/* CSS START */

/* Body background Start */
body{
    background: linear-gradient(to right,#242582,#F64C72,#99738E );
    background-size: 400% 400%;
    animation: backgroundbody 4s infinite;
}

/* Keyframe backgrond Start */
@keyframes backgroundbody{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
/* Keyframe backgrond End */

/* Body background End */

/* Text on the page Start */
.parent h1{
    font-size: 3.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: poppins;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1700px 0;
    animation: text 5s linear infinite alternate;
    
}
/* Keyframe text Start */
@keyframes text{
    100%{
        background-position: 0 0;
    }
}
/* Keyframes text END */

/* Text on the page End */

/* Border Around the ball start */
.game{
    border: 10px solid #997383;
    border-radius: 10px;
    height: 840px;
    overflow: hidden;
}
/* Border Around the ball END */


/* BALL MOVEMENTS START */
.ball{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 70px;
    margin-left: 70px;
    background: linear-gradient(to right,#99738E,#2F2FA2);
    animation: ball 20s;
}
/* Ball hover start */
.ball:hover{
    animation-play-state: paused;
}
/* Ball hover end */

/* Keyframe ball Start */
@keyframes ball{
  

 10%{
    transform: translate(180px,0px) rotate(360deg);
    height: 80px;
   }

   15%{
    transform: translate(300px,700px);
    height: 65px;
   
   }

   20%{
    transform: translate(460px,10px);
    height: 80px;
   }

   25%{
    transform: translate(600px,700px);
    height: 68px;
   }

   30%{
    transform: translate(750px,100px);
    height: 80px;
   }

   35%{
    transform: translate(900px,700px);
    height: 71px;
   }

   40%{
    transform: translateX(1060px) translateY(200px);
    height: 80px;
   }

    45%{
        transform: translate(1200px,700px);
        height: 72px;
    }


    50%{
        transform: translate(1300px,400px);
        height: 80px;
    }

    55%{
        transform: translateX(1460px) translateY(700px);
        height: 70px;
    }

    60%{
        transform: translate(1560px,500px);
        height: 80px;
    }

    65%{
        transform: translate(1700px,700px);
        height: 71px;
    }  

    70%{
        transform: translate(1800px,600px);
        height: 77px;
    }

    75%{
        transform: translate(1840px,698px);
         height: 80px;       

    }

}
/* Keyframe ball END */

/* BALL MOVEMENTS END */


/* Ball Holder Start */
.square{
    width: 190px;
    height: 20px;
    margin-left: 80px;
    margin-top: 1px;
    background-color:#ffffff;
}
/* Ball Holder End */

/* CSS END */


